/* line 2, ../sass/style.scss */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: url("../assets/grey_wash_wall_@2X.png");
  color: #fff;
}

/* line 8, ../sass/style.scss */
.str-main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1024px) {
  /* line 8, ../sass/style.scss */
  .str-main-container {
    max-width: 800px;
  }
}
/* line 17, ../sass/style.scss */
.str-main-container h1 {
  text-align: center;
  font-weight: 200;
}
/* line 32, ../sass/style.scss */
.str-main-container article section img {
  max-width: 48px;
  vertical-align: middle;
}
/* line 36, ../sass/style.scss */
.str-main-container article section img:last-child {
  margin-right: 20px;
}
/* line 41, ../sass/style.scss */
.str-main-container article section code {
  margin-right: 15px;
  max-width: 48px;
  font-family: courier;
}
/* line 47, ../sass/style.scss */
.str-main-container article section pre {
  background-color: #7b9eaa;
  font-size: 16px;
  padding: 10px 25px;
  color: #fff;
}
/* line 55, ../sass/style.scss */
.str-main-container article section ul li {
  line-height: 24px;
}
/* line 62, ../sass/style.scss */
.str-main-container article section table tr td {
  padding: 5px;
}
/* line 65, ../sass/style.scss */
.str-main-container article section table tr td.red {
  background-color: #d9534f;
}
/* line 69, ../sass/style.scss */
.str-main-container article section table tr td.green {
  background-color: #5cb85c;
}
/* line 73, ../sass/style.scss */
.str-main-container article section table tr td.rblue {
  background-color: #428bca;
}
/* line 77, ../sass/style.scss */
.str-main-container article section table tr td.tblack {
  background-color: #333;
}
/* line 81, ../sass/style.scss */
.str-main-container article section table tr td.orange {
  background-color: #f0ad4e;
}
/* line 85, ../sass/style.scss */
.str-main-container article section table tr td.cyan {
  background-color: #5bc0de;
}
/* line 89, ../sass/style.scss */
.str-main-container article section table tr td.charcoal {
  background-color: #4a4a52;
}
