
body {
    font-family:  "Open Sans", Helvetica, sans-serif;
    background: url('../assets/grey_wash_wall_@2X.png');
    color: #fff;
}

.str-main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
    @media screen and (max-width: 1024px) {
        max-width: 800px;
    }
    
    h1 {
        text-align: center;
        font-weight: 200;
    }
    
    article {
        h2 {
        
        }
        
        section {
            h3 {
                
            }
            
            img {
                max-width: 48px;
                vertical-align: middle;
                
                &:last-child {
                    margin-right: 20px;
                }
            }
            
            code {
                margin-right: 15px;
                max-width: 48px;
                font-family: courier;
            }
            
            pre {
                background-color: rgb(123, 158, 170);
                font-size: 16px;
                padding: 10px 25px;
                color: #fff;
            }
            
            ul {
                li {
                    line-height: 24px;
                }
            }

            table {
                tr {
                    td {
                        padding: 5px;
                        
                        &.red {
                            background-color: #d9534f;
                        }
                        
                        &.green {
                            background-color: #5cb85c;
                        }
                        
                        &.rblue {
                            background-color: #428bca;
                        }
                        
                        &.tblack {
                            background-color: #333;
                        }
                        
                        &.orange {
                            background-color: #f0ad4e;
                        }
                        
                        &.cyan {
                            background-color: #5bc0de;
                        }
                        
                        &.charcoal {
                            background-color: #4a4a52;
                        }
                    }
                }
            }
            
        }     
        
    }
}